/* Uc1 */
.header-content
{
    display: flex;
    justify-content:center;
    border:0px solid green;
}
.logo-content
{
    display: flex;
    align-items:center;
    border:0px solid green;
    width: 80%;
}
img{
    width: 3cm;
}
.logo-content-img{
    border:0px solid grey;
}
.emp-text
{
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0px;
    color: green;
    text-transform: uppercase;
}
.emp-payroll
{
    color: hotpink;
}